<md-content class="google-map-wrapper">
  <google-map-markerclusterer></google-map-markerclusterer>
  <google-map></google-map>
  <!-- <google-map latitute="19.430832" longitude="-99.132638" fit-to-markers> -->
    <!-- <template is="dom-repeat" items="{{search.filtered}}" as="actor">
      <google-map-marker latitude="{{actor.location.latitude}}" longitude="{{actor.location.longitude}}" title="{{actor.name}}" animation="DROP"></google-map-marker>
    </template> 
  </google-map> -->
</md-content>
