<md-tab-content class="grey lighten-4">
  <md-content class="md-padding hmx-wrap grey lighten-4" flex-offset-gt-md="10" flex-gt-md="80" layout="column" layout-gt-sm="row" layout-align="center" flex>
    <md-card flex flex-md="50" flex-gt-md="20">
      <div class="md-padding md-title blue white-text">
        <md-icon class="white-text">info_outline</md-icon> Información básica
      </div>
      <md-card-content>
        <div ng-if="userprofile.gender">
          <span class="md-body-2 mg-r">Sexo:</span>
          <span class="md-body-1">{{userprofile.gender}}</span>
        </div>
        <div ng-if="userprofile.birthday">
          <span class="md-body-2 mg-r">Fecha de nacimiento:</span>
          <span class="md-body-1">{{moment(userprofile.birthday).format('DD [de] MMMM [de] YYYY')}}</span>
        </div>
        <div ng-if="userprofile.location">
          <span class="md-body-2 mg-r">Ubicación:</span>
          <span class="md-body-1">{{userprofile.location.city}}, {{userprofile.location.state}}</span>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex flex-gt-sm="30">
      <div class="md-padding md-title green white-text">
        <md-icon class="white-text">work</md-icon> Trabajo
      </div>
      <md-card-content>
        <div ng-repeat="job in userprofile.jobs | orderBy: '-startdate'">
          <span class="md-body-2 mg-r" ng-if="$first">Actual:</span>
          <span class="md-body-2 mg-r" ng-if="!$first">Anterior:</span>
          <span class="md-body-1 mg-r">{{job.name}} en </span>
          <a class="md-body-1" ui-sref="page({pageId: job.org.slug, tabId: 'acerca-de'})">{{job.org.name}}</a>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex flex-md="50" flex-gt-md="20">
      <div class="md-padding md-title purple white-text">
        <md-icon class="white-text">contact_phone</md-icon> Contacto
      </div>
      <md-card-content>
        <div ng-if="userprofile.phones.length" ng-repeat="phone in userprofile.phones">
          <span class="md-body-2 mg-r" >{{phone.type}}:</span>
          <span class="md-body-1"><a ng-href="tel:+{{phone.country}}{{phone.area}}{{phone.number}}">({{phone.area}}) {{phone.number}}</a> </span>
        </div>
        <div ng-if="userprofile.email">
          <span class="md-body-2 mg-r">Email:</span>
          <span class="md-body-1"><a ng-href="mailto:{{userprofile.email}}">{{userprofile.email}}</a> </span>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex flex-md="50" flex-gt-md="20">
      <div class="md-padding md-title blue-grey white-text">
        <md-icon class="white-text">link</md-icon> Enlaces
      </div>
      <md-card-content>
        <div ng-repeat="link in userprofile.links">
          <span class="md-body-2 mg-r" >{{link.type}}:</span>
          <span class="md-body-1"><a ng-href="{{link.href}}" target="_blank">{{link.name}}</a> </span>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex flex-md="50" flex-gt-md="50">
      <div class="md-padding md-title amber white-text">
        <md-icon class="white-text">verified_user</md-icon> Habilidades
      </div>
      <md-card-content class="hmx-wrap" layout="column" layout-gt-sm="row">
        <div ng-repeat="hability in userprofile.habilities" flex="100" flex-gt-sm="50" flex-gt-md="33" layout="row" layout-align="start center" style="margin-bottom: 10px;">
          <img class="hability-image" ng-src="{{hability.image}}">
          <span class="md-body-1">{{hability.name}}</span>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</md-tab-content>
