<md-tab-content class="grey lighten-4" ng-init="coments = {};">
  <md-content class="md-padding grey lighten-4" flex-offset-gt-md="20" flex-gt-md="60" layout="column" flex>
    <div layout="row" ng-repeat="item in [1,2,3,4,5,6,7,8,9]" flex>
      <md-card flex>
        <div class="md-toolbar-tools">
          <md-icon class="mg-r">account_circle</md-icon>
          <h2>Publicación ejemlo</h2>
          <span flex></span>
          <md-button class="md-icon-button">
            <md-icon class="md-accent">favorite</md-icon>
          </md-button>
        </div>
        <md-card-content>
          <md-input-container flex>
            <label>Comentarios</label>
            <textarea ng-model="comments[item]" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
</md-tab-content>
