.signup-form-wrapper {
  max-width: 280px;
  position: relative;
}

.signup-form {
  min-width: 280px;
  position: relative;
  .material-icons {
    &.md-80 {
      position: absolute;
      top: 0px;
      left: 108px;
      font-size: 80px;
    }
  }
  .signup-form-header {
    height: 80px;
  }
  .md-button {
    width: calc(100% - 16px);
  }
}

@media #{$medium-and-up} {
  .signup-form-wrapper {
    min-width: 415px;
  }
  .signup-form {
    min-width: 280px;
    .material-icons {
      &.md-80 {
        top: 16px;
        left: 168px;
      }
    }
  }
}
